
#Homebutton {
	text-align: right;
	}
#Lastheader{font-size: 30;}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

tr, td, th:nth-child(even) {
    background-color: #E83849;
}




#imagescreated {text-align: center;}


#fourthright {text-align: left;}
#thirdright {text-align: left;}
.secondclass { text-align: left; }
.buttonclass{ text-align: left; }


.colpara p {margin:0px; padding: 0px; border: 0;}
body {
	
	/*background used for the first section of the page with size and no repeats of the image.*/
	background-image: url(firsback.png); 
	background-size: 100% 1490px; background-repeat: no-repeat; 

	
}
/* changed the colour of h1,h2,h3,h4 and h5. I've also changed font size */
h1{
           color: darkslategrey; width: 200px; font-family: arial 80px;
           
       }
h2 {
	color: darkslategrey;
	font-size: 25px;
}
h3, h4, h5, h6 {
	color: darkslategrey;
}


body{
	text-align: center;}

 /* used allowsthe webpage to not look distorted  when used with different devices with different screen sizes */
@media (min-width: 600px) {}

  ul li {
  	color: #3c3c3c;}
  
ul li::before {
	
	display: inline-block;
	margin-right: 8px;
	color: red;
}

ul {
	list-style:none;
}
/* codes that start with .class are referred from the .html stylesheet which have named classes so that in css the text, image can be edited.*/

.test {
	height: auto;
	width: 500px;
	
	border-radius: 25px;
}


.container-fluid {
	width: 500px;
	height:500px;
	
}
/* code below used to move the navigation links to the top right corner and are positioned the way it is */
nav ul{ list-style-type: none;   }
nav li { display: inline; }
nav { text-align: right; }

button {
          background-color: grey; border-radius: 23px; width: 105px; font-size: 18px;
           margin: 0px;
       }
       footer p {
  text-align: center;
}

footer {
  text-align: bottom;
  background: #4c4c4c;
  
  background-image: fill;
  color: #ccc;
}

p { margin:0px;
    border:50px;

	}
.section-list {
	text-align:left;
}
div.li.i { left: 90px;}

p { font-size: 25px; margin: 170px;}
div.class{ font-size: 25px;}
h6 {font-size:25px;}
h6 {height: 30px;}
div { font-size: 20px;}
h4 { font-size: 30;
	margin: 20px;
}
/* (a) was referred on the .html stylesheet to create the link to the id element. I have edited (a) below to position it on the top right corner of the page and increase the font size */
a {font-size: 29;}
a {margin: 23px;}
/* Below code (.col...) was used to create a margin for the 'Caputred by phone' sentence on the front end. I've used margin so that if I wanted to add a text above the sentence, A small space would be provided and making the webspage look professional */
.col-xs-4 div {margin: 24px;}

 
h6 { padding: 390px; margin: 19px; font-size: 30px; font-family: sans-serif; }
#back { background-image: url("http://static1.squarespace.com/static/54e63432e4b02904f4c632e8/t/54ef890ce4b0a7de0912942d/1424984343312/abstract_geometric_low_poly___wallpaper_by_mcfrolic-d7gjq9d.jpg?format=2500w");
background-size: 3110px; background-repeat: no-repeat;  }
footer p { font-size: 20px }
@media (min-width: 600px) {}
.fafa-twitterfa-2x {text-align: center;}
a {margin-top: 100px}
#bac{ background-image: url("http://cyof.org/wp-content/uploads/2014/06/geometric_background_40.jpg");  background-repeat: no-repeat; background-size: 100% 1200px; background-repeat: no-repeat;}
.navigation { max-width: 740px;
margin: auto; text-align:right; padding: 30px;}
/* Padding used to create space and and margin used to create space aswell */
.last { font-size: 14px; }
.last1 { font-size: 15px; }

/* The section below was used for the Work section of the web page. As you can see in the .html stylesheet, the div was used and the class name has been referred below so that the div can be used as a image which can be edited in the css stylesheet or edited here as a text. */
 .First { padding: 390px; }
 .Work {font-size: 30px; font-family: sans-serif; color: white;}
 #wo { background-image: url("http://cyof.org/wp-content/uploads/2014/06/geometric_background_40.jpg");
background-size:  100% 4800px; background-width: 400%; background-repeat: no-repeat;}

.facedesc { margin:  15px; }

